.contenido {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.item {
	margin: 30px;
	margin-top: 50px;
}

.activo {
	background-color: #008D3C;
}

.caja-texto {
	width: 400px; 
	height: 500px;
	color: black;
	margin: 50px;
	/* Justifica el texto */
	text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #008D3C;
}