body {
    margin: 0;
}


/* Estilo que se aplica a toda la clase menu en el archivo html: 
       ==> <ul class="menu">

       ==> </ul> 
*/
.menu {
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;  
}

 /* Estilo que se aplica a todas las <img> que contenga la clase menu en el archivo html:
        <ul class="menu"> 
               ==> <img> 
        </ul> 
*/
.menu > img {
    margin: 0px 0px -4px 0px; /* Se aplica a  */
}

/* Estilo que se aplica a todas las <li></li> que contenga la clase menu en el archivo html:
        <ul class="menu">
               ==> <li></li>
        </ul> 
*/
.menu > li {
    margin: 0px;
}

/* Estilo que se aplica a todas las <a></a> que contenga la clase menu en el archivo html:
        <ul class="menu">
                <li>
                        ==> <a></a>
                </li>
        </ul> 
*/
.menu > li > a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Estilo que solo se aplica cuando el puntero del mouse pasa por las etiquetas (a:hover) <a></a> de la clase menu en el archivo html:
        <ul class="menu">
                <li>
                        ==> <a></a>
                </li>
        </ul> 
*/
.menu > li > a:hover {
    background-color: #555;
    color: white;
}


/* Estilo que solo se aplica cuando el puntero del mouse pasa por las etiquetas (a:hover) <a></a> de la clase menu en el archivo html:
        <ul class="menu">
                <li>
                        ==> <a></a>
                </li>
        </ul> 
*/
.menu > li > a.active {
    background-color: #4CAF50;
    color: white;
}