/* Estilo que se aplica a toda la etiqueta <body> en el archivo html: 
       ==> <body>

       ==> </body> 
*/

body {
    margin: 0;
    color: white;
    background-color: #000;
}

/* Estilo que se aplica a toda la clase menu en el archivo html: 
       ==> <ul class="menu">

       ==> </ul> 
*/
.menu {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Rubik', sans-serif;  
}

 /* Estilo que se aplica a todas las <img> que contenga la clase menu en el archivo html:
        <ul class="menu"> 
               ==> <img> 
        </ul> 
*/
.menu > img {
    margin: 0px 0px -4px 0px; /* Se aplica los 4 (arriba, izquierda, abajo, derecha) margenes a la imagen del menu de Ludens */
}

/* Estilo que se aplica a todas las <a></a> que contenga la clase menu en el archivo html:
        <ul class="menu">
                <li>
                        ==> <a></a>
                </li>
        </ul> 
*/
.menu > li > a {
    display: block; /* Tipo de Caja del elemento */
    color: #000; /* Color de la letra */
    padding: 10px 10px; /* Establece la anchura de arriba e izquierda del elemento */
    text-decoration: none; /* Quita la viñeta del elemento */
}

/* Estilo que solo se aplica cuando el puntero del mouse pasa por las etiquetas (a:hover) <a></a> de la clase menu en el archivo html:
        <ul class="menu">
                <li>
                        ==> <a></a>
                </li>
        </ul> 
*/
.menu > li > a:hover {
    background-color: #555; /* Color de fondo */
    color: white; /* Color de la letra */
}


/* Estilo que solo se aplica cuando el puntero del mouse pasa por las etiquetas (a:hover) <a></a> de la clase menu en el archivo html:
        <ul class="menu">
                <li>
                        ==> <a></a>
                </li>
        </ul> 
*/
.menu > li > a.active {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color de la letra */
}

.seccion {
    margin-left:15%; /* Modifica el margen izquierdo un 15% */
    padding:1px 16px; /* Establece la anchura de arriba e izquierda del elemento */
    height:1000px; /* Modifica el ancho que tendra el elemento */
}

.titulo {
    font-family: 'Barrio', cursive;
    text-align: center;
}
